div.calculator {
    border: 1px gray solid;
    background-color: lightgrey;
    margin: auto;
    height: 600px;
    width: 550px;
    display: block;
    justify-content: center;
    align-items: center;
}

div.buttons {
    padding-top: 30px;
}

.btn-primary {
    margin-left: 60px;
    width: 60px;
    font-size: 30px;
}