<div class="calculator">

    <display [text]="textToShow"></display>
    <br>
    <div class="buttons">
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" (click)="clear()">C</button>
            <button class="btn btn-primary" type="button" (click)="operation('%')">%</button>
            <button class="btn btn-primary" type="button" (click)="delete()">-x</button>
            <button class="btn btn-primary" type="button" (click)="operation('/')">/</button>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" (click)="setNum(7)">7</button>
            <button class="btn btn-primary" type="button" (click)="setNum(8)">8</button>
            <button class="btn btn-primary" type="button" (click)="setNum(9)">9</button>
            <button class="btn btn-primary" type="button" (click)="operation('*')">X</button>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" (click)="setNum(4)">4</button>
            <button class="btn btn-primary" type="button" (click)="setNum(5)">5</button>
            <button class="btn btn-primary" type="button" (click)="setNum(6)">6</button>
            <button class="btn btn-primary" type="button" (click)="operation('-')">-</button>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" (click)="setNum(1)">1</button>
            <button class="btn btn-primary" type="button" (click)="setNum(2)">2</button>
            <button class="btn btn-primary" type="button" (click)="setNum(3)">3</button>
            <button class="btn btn-primary" type="button" (click)="operation('+')">+</button>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" (click)="setNum(0)">0</button>
            <button class="btn btn-primary" type="button" (click)="setNum('00')">00</button>
            <button class="btn btn-primary" type="button" (click)="setNum('.')">.</button>
            <button class="btn btn-primary" type="button" (click)="calculate()">=</button>
        </div>
    </div>
</div>
